.arrow-container{
    font-size: 2rem;
    height:fit-content ;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .learn-more{
        width: auto;
    }
}